.wrap    // this class "wrap" use to wrap all page of the web
{
	background: #E0FFFF; //color hex-code for background
	width: 100%;
	height: 100%;
	margin:15px;
	font-family: sans-serif;
	align: center;
	
}
.wrap .header ul //this class make a header to the page
{
	padding: 0;
	margin:0;
	background: #40E0D0;
	overflow: hidden;
	text-decoration: none;
}
.tabel
{
	align: center; //align table to center page
}
.wrap .header ul li
{
	float: left;
	list-style-type: none;
	padding : 10px;
	border-left: 2px solid black;

}
